<!DOCTYPE html>
  <head>
    <meta charset="utf-8" content="text/html; charset=windows-1252" http-equiv="content-type">
    <link rel="stylesheet" href="static/styles.css">
    <title>Practica 1: Computación en red</title>
  </head>
  <body>
    <div class="contenedor" id="contenedor">
        <h1 class="estiloh1" id="titulo">Práctica 1: Computación en red</h1>
        <h2 class="estiloh2" id="titulo2">Programación de una aplicación con servicios web</h2>
    </div>
    <div class="contenedor2" id="contenedor2">
        <center>
          <br><br>
			<iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/	channels/919305/charts/1?bgcolor=%23ffffff&color=%230000FF&dynamic=true&results=60&type=line"></iframe>
		  <br><br>
			 <button type="button" onclick="location.href='/main'"> Volver a la página principal</button>
		  <br><br>
        </center>
    </div>
    <div class="pie" id="pie">Universidad de Alcalá</div>
  </body>